
<table id="battalions-table" class="table table-striped">
  <thead>
  <th>Battalions</th>
  <th>Unit Class</th>
  <th>Description</th>
  <th></th>
  </thead>

  <tbody>
  <%= f.fields_for(:battalions) do |bn_form| %>
    <tr class="fields">
      <td><%= bn_form.text_field(:name, class: 'span3') %></td>
      <td><%= bn_form.collection_select(:unit_class_id, UnitClass.selectable, :id, :name) %></td>
      <td>
				<% if bn_form.object.unit_class_id.nil? %>
					<em>unassigned</em>
				<% else %>
					<%= image_tag("/assets/icon-#{bn_form.object.unit_class_id}.png") %>
					<%= @type_names_array[bn_form.object.unit_class_id - 1] %>
				<% end %>
			</td>
      <%# if current_page?(new_division_path) || current_page?(edit_division_path) %>
      <td>
        <%= link_to_remove_fields('<i class="icon-remove"></i>'.html_safe, bn_form, :title => "Delete this Battalion") %>
      </td>
      <%# end %>
    </tr>
  <% end %>

  </tbody>
</table>

