<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Era</th>
    <th>Nation</th>
    <th># of Divisions</th>
    <th>Divisions Allowed</th>
    <th>Battalions Allowed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @armies.each do |army| %>
      <tr>
        <td><%= army.name %></td>
        <td><%= army.era.name %></td>
        <td><%= army.nation.name %></td>
        <td class='center-text'><%= army.divisions.count %></td>
        <td class='center-text'><%= army.divisions_allowed %></td>
        <td class='center-text'><%= army.battalions_allowed %></td>
        <td><%= link_to('<i class="icon-eye-open"/>'.html_safe, army, title: "View #{army.name}") %></td>
        <td><%= link_to('<i class="icon-edit"/>'.html_safe, edit_army_path(army), title: "Edit #{army.name}") %></td>
        <td><%= link_to('<i class="icon-remove"/>'.html_safe, army, method: :delete, remote: true, confirm: "Are you sure?", :title => "Delete #{ army.name }.") %></td>
      </tr>
  <% end %>
</table>