<div id="new-battalion-fields" class="modal fade" data-backdrop="static">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Add a Battalion to the Division</h3>
  </div>
  <div class="modal-body">
    <fieldset>
      <div class="control-group">
        <%= f.label(:name, :class => "control-label") %>
        <div class="controls">
          <%= f.text_field(:name, :data => { :validation => "required validate_max_length length20", "validation-error-msg" => "Name is required must be 20 characters or less." }) %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label(:unit_class, :class => "control-label") %>
        <div class="controls">
          <%= f.collection_select(:unit_class_id, UnitClass.selectable, :id, :name) %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label(:health, :class => "control-label") %>
        <div class="controls">
          <%= f.text_field(:health) %>
        </div>
      </div>

      <%= f.hidden_field(:_destroy, :class => "field") %>
    </fieldset>
  </div>
  <div class="modal-footer">
    <button id="addButton" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true" title="Add this Battalion to the Division.">Add</button>
    <button id="cancelButton" type="button" class="btn btn-inverse" data-dismiss="modal" aria-hidden="true" title="Close this screen without adding the Battalion.">Cancel</button>
  </div>
</div>

<script type="text/javascript">
  battalionFieldsUI.init();
</script>