
<div class="fields">
  <div class="well">
  <h4>Division</h4>
      <p >
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: 'New-Div-Name', input_html: { class: "span2" } %>
        <%= link_to_remove_fields "remove", f, { class: 'btn btn-mini btn-warning' } %>
      </p>

      <h5>Battalions</h5>

       <%= f.fields_for :battalions do |builder| %>
           <%= render 'battalion_fields', :f => builder %>
       <% end %>
    <p>
      <%= link_to_add_fields("Add a Battalion", f, :battalions, class: "btn btn-mini btn-primary", :title => "Add a new Battalion to the Division.") %>
    </p>
  </div>
</div>