<div class="unitpane">
  <table class="table table-striped">
    <tr>
      <th>Sample</th>
      <th>Description</th>
    </tr>
    <tr>
      <td><%= image_tag("/assets/gbww2_inf1.png", size: "64x43", class: "media-object") %></td>
      <td>
        <h5 class="media-heading">Defensive Infantry</h5>
        <p>Moves 1 hex; Fires down alternate spines;Strikes infantry for 3 points.</p>
      </td>
    </tr>
    <tr>
      <td><%= image_tag("/assets/sovww2_inf2.png", size: "64x43", class: "media-object") %></td>
      <td>
        <h5 class="media-heading">Assault Infantry</h5>
        <p>Moves 3 hexes; Grabs infantry or artillery; Strikes for 3 points.</p>
      </td>
    </tr>
    <tr>
      <td><%= image_tag("/assets/gerww2_arty1.png", size: "64x43", class: "media-object") %></td>
      <td>
        <h5 class="media-heading">Light Artillery</h5>
        <p>Moves 1 hex; Fires down alternate spines;Strikes any hex for 4 points.</p>
      </td>
    </tr>
    <tr>
      <td><%= image_tag("/assets/usww2_arty2.png", size: "64x43", class: "media-object") %></td>
      <td>
        <h5 class="media-heading">Heavy Artillery</h5>
        <p>Cannot move; Strikes any hex for 7 points.</p>
      </td>
    </tr>
    <tr>
      <td><%= image_tag("/assets/gerww2_mob1.png", size: "64x43", class: "media-object") %></td>
      <td>
        <h5 class="media-heading">Anti-Cavalry/Tank</h5>
        <p>Moves 1 hex; Fires down alternate spines;Strikes cav/tanks for 4 points.</p>
      </td>
    </tr>
    <tr>
      <td><%= image_tag("/assets/sovww2_mob2.png", size: "64x43", class: "media-object") %></td>
      <td>
        <h5 class="media-heading">Assault Cavalry/Tank</h5>
        <p>Moves 7 hexes; Overruns infantry or artillery; Strikes for 3 points.</p>
      </td>
    </tr>
    <tr>
      <td><%= image_tag("/assets/gbww2_scout.png", size: "64x43", class: "media-object") %></td>
      <td>
        <h5 class="media-heading">Scouts (Recce)</h5>
        <p>Does not need to move; Reveals all enemy units.</p>
      </td>
    </tr>
  </table>
</div>