<h1>Show: <%= @army.name %>  <%= link_to 'Edit', edit_army_path(@army), { :class => "btn btn-mini btn-warning" } %></h1>
<% @army.divisions.each do |dv| %>
    <h3><%= dv.name %></h3>
    <ul class="thumbnails">
      <% dv.battalions.each do |bn| %>
          <li class="span3">
            <div class="thumbnail">
              <h6><%= bn.unit_class.name %></h6>
              <%= bn.name %><br />
              <% if bn.unit_class.nil?  %>
                <%= image_tag("/assets/blankunit.png") %>
            <% else %>
                <%= image_tag("#{@type_pics_array[bn.unit_class_id - 1]}") %>
            <% end %>
              <%= @type_names_array[bn.unit_class_id - 1] %>
            </div>
          </li>
      <% end %>
    </ul>
<% end %>

<p><span style="font: italic 10px;">Last played: <%= @army.updated_at.strftime("%m/%d/%Y") %></span></p>
<p></p>